/* * {
    padding: 0;
    margin: 0;
} */

/* 背景 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/01.gif')no-repeat center;
    background-size: cover;
}

/* 登录表格 */
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #4e4e4e;
    opacity: .9;
}

.titleBox {
    height: 60px;
    background: url('../images/login_title.png')no-repeat center;
}

.reg_box {
    display: none;
}

/* 表单样式 */
.layui-form {
    padding: 0 30px;

}
.layui-form-item{
    position: relative;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-form-item .layui-input {
    padding-left: 30px;
}